{% extends 'base.html' %}
{% block body %}
<div class="hasil-wrapper">
    <div class="container">
        <div class="table-bg">
            <table class="table table-striped" id="tblData">
                <thead>
                  <tr>
                    <th scope="col" style="width: 25%;">IT Process</th>
                    <th scope="col" style="width: 10%;">Tujuan</th>
                    <th scope="col">Task</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in gap_analysis %}
                  <tr>
                    <th scope="row">
                      {{ item.it_pro }}
                    <br><small style="font-weight:normal;">{{ item.ket }}</small>
                    </th>
                    <th>{{ item.awal }} -> {{ item.tujuan }}</th>
                    <td>{{ item.task }}</td>
                  </tr>
                {% endfor %}
                  
                </tbody>
              </table>
              <button class="btn btn-primary" onclick="exportTableToExcel('tblData')">
                <span class="glyphicon glyphicon-download"></span>
                Download list</button>
              <button class="btn btn-success" onclick="window.print()">Print this page</button>
        </div>    
    </div>
</div>
    
{% endblock %}